.navigation {
  .flexbox(column, normal, center);

  h1 {
    padding: 2%;
  }

  ul {
    .flexbox(row, space-around, normal);
    width: 50%;

    li {
      font-size: @large;
      padding: 2%;
    }
  }
}
